# Dependency directory
node_modules
dist

# Logs
logs
*.log

# Directory for coverage reports generated for unit/integration testing
lib-cov

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
